{% extends 'base.html' %}
{% block content %}
    <h1>My Accounts</h1>
    {% if user.is_authenticated %}
        <p></p>
    {% endif %}
        {% if accounts %}
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-primary">
                              <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                  <span class="nav-tabs-title">Accounts:</span>
                                  <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">assignment</i> All
                                        <div class="ripple-container"></div>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">visibility</i> See
                                        <div class="ripple-container"></div>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                  <table class="table">
                                    <tbody>
                                      {% for account in accounts %}
                                          <tr>
                                            <td>{{  account.site }} </td>
                                              <td> <i class="material-icons see" id="{{ account.id_account }}">visibility</i></td>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
        {% else %}
            <h3>No hay cuentas registradas</h3>
        {% endif %}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Account Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
<script content="text/javascript">
        $(document).ready(function () {
            $(".see").click(function () {
                var post_url = '{% url 'show_password' %}'
                var request_method = "POST"
                var dataP = {
                    "key": "OQmYzmageRRcWosZ11TGPoXqZ4JhcNWpzh8NUCeMlug=",
                    "account_id": $(this).attr('id'),
                    "user_id": {{ user.id }},

                }
                $.ajax({
                    url: post_url,
                    type: request_method,
                    data: dataP, beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                }).done(function (response) { //
                    $('.modal-body').empty()
                    $('.modal-body').append('<p><strong>Site: </strong>'+response.site+'</p>' +
                        '<p><strong>Username: </strong>'+response.email+'</p>' +
                        '<p><strong>Password: </strong>'+response.password+'</p>')
                    $('#exampleModalCenter').modal('show')

                });
            });
        })
    </script>
{% endblock %}
