{% extends 'base.html' %}
{% block content %}
    <h1>My Accounts</h1>
    <a href="{% url 'add_account' %}">New</a>
    {% if user.is_authenticated %}
        <p>ID: {{ user.id }} </p>
    {% endif %}
        {% if accounts %}
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-primary">
                              <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                  <span class="nav-tabs-title">Accounts:</span>
                                  <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">assignment</i> All
                                        <div class="ripple-container"></div>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">visibility</i> See
                                        <div class="ripple-container"></div>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                  <table class="table">
                                    <tbody>
                                      {% for account in accounts %}
                                          <tr>
                                            <td>{{  account.site }} </td>
                                              <td> <i class="material-icons">visibility</i></td>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
        {% else %}
            <h3>No hay cuentas registradas</h3>
        {% endif %}
{% endblock %}
